.cats-container {
  max-width: 996px;
}

.cats-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cat-photo {
  margin: 10px;
  border-radius: 4px;
  transition: all .2s;
}

.cat-photo img {
  border-radius: 4px;
}

.cat-photo:hover {
  transform: scale(1.05);
  box-shadow: 0 0 28px rgba(0,0,0,.75);
  cursor: pointer;
}